<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--
    Shows the Homepage.
-->

    <head>
        <meta charset="utf-8">
        <link th:href="@{/styles/style.css}" rel="stylesheet" />
        <title>Vacation Planner</title>
    </head>

    <body>
        <header>

        </header>

        <h1>Welcome to NewPlanner</h1>
        <div class="buttons">
            <a th:href="@{/login}"><button>Login</button></a>
            <a th:href="@{/register}"><button>Register</button></a>
        </div>

        <section>
            <nav>
                <a th:href="@{/vacations}">View Vacations</a>
                <a th:href="@{/my-vacations}">My Vacations</a>
                <a th:href="@{/admin}">Admin Page</a>
            </nav>
        </section>

    </body>

</html>