<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>Register</h2>
<div class="container">
    <form th:action="@{/register}" method="post">
        <!-- Email Field -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>

        <!-- Password Field -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>

        <!-- Nume Field -->
        <label for="nume">Last name:</label>
        <input type="text" id="nume" name="nume"  placeholder="Enter your last name" required>

        <!-- Prenume Field -->
        <label for="prenume">First name:</label>
        <input type="text" id="prenume" name="prenume"  placeholder="Enter your first name" required>

        <!-- Tara Field -->
        <label for="tara">Country:</label>
        <input type="text" id="tara" name="tara"  placeholder="Enter your country" required>

        <!-- Telefon Field -->
        <label for="telefon">Phone:</label>
        <input type="text" id="telefon" name="telefon"  placeholder="Enter your phone number" required>

        <!-- Register Button -->
        <input type="submit" value="Register">
    </form>

    <p th:if="${error}" class="error" th:text="${error}"></p>
    <p th:if="${success}" style="color: green;" th:text="${success}"></p>

    <p>Already have an account? Log in <a th:href="@{/login}">here</a>.</p>
</div>
</body>
</html>
