<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="static/styles/style.css">
<!--
    Shows all vacations from the Vacation table.
-->

<head>
    <meta charset="utf-8">
    <link th:href="@{/styles/style.css}" rel="stylesheet" />
    <title>Available Vacations</title>
</head>
<body>
    <h1>Available Vacations</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Destination</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vacationEntity : ${vacations}">
                <td th:text="${vacationEntity.name}">Vacation Name</td>
                <td th:text="${vacationEntity.destination}">Destination</td>
                <td th:text="${vacationEntity.status}">Status</td>
                <td>
                    <button th:onclick="'addToFavorites(' + ${vacationEntity.id} + ')'">Add to Favorites</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
